#  Ignore themes
themes/*

#  Ignore output
public/
public_html/

resources/_gen

# Ignore node modules
node_modules/

# Ignore files from theme that we copy to here
package.json
package-lock.json

# Hugo stats for css purging
hugo_stats.json

TODO.md

*.lock
